# Imports

In [1]:
import os

# from pycaret.regression import setup, compare_models, pull, save_model, load_model
import pycaret.regression as pyc_r
import pycaret.classification as pyc_c
import pandas_profiling
import pandas as pd
from sklearn.datasets import load_iris, load_diabetes

# Min and Hourly Data

In [6]:
df_min = pd.read_csv(r'../processed_data/Combined_Data_with_Voltages.csv', index_col=0)
df_min

,PTemp_C_Max,AirTC_Avg,RH,WS_ms_Avg,WindDir,TPM1,TPM2.5,TPM10,GeffRef,TempRef,Cycle,Rainfall,Daylight,FT_Voltage1,FT_Voltage2,DN_Voltage1,DN_Voltage2
DateTime,,,,,,,,,,,,,,,,,
2022-01-10 00:00:00,14.130,14.170,70.200,0.0810,252.700,42.0,62.0,70.0,0.000559,11.0750,3.0,0.0,0.0,0.0,0.0,0.0,0.0
2022-01-10 00:01:00,14.116,14.150,70.322,0.0742,215.844,42.0,62.0,67.0,0.001397,11.0625,3.0,0.0,0.0,0.0,0.0,0.0,0.0
2022-01-10 00:02:00,14.102,14.130,70.444,0.0674,178.988,44.0,61.0,64.0,0.002235,11.0500,3.0,0.0,0.0,0.0,0.0,0.0,0.0
2022-01-10 00:03:00,14.088,14.110,70.566,0.0606,142.132,45.0,64.0,68.0,0.006148,11.0250,3.0,0.0,0.0,0.0,0.0,0.0,0.0
2022-01-10 00:04:00,14.074,14.090,70.688,0.0538,105.276,44.0,63.0,67.0,0.000559,10.9900,3.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-04-19 23:55:00,31.690,29.340,41.480,0.7820,156.400,37.0,55.0,61.0,0.036891,27.9250,7.0,0.0,0.0,0.0,0.0,0.0,0.0
2022-04-19 23:56:00,31.646,29.482,41.006,0.6770,149.340,37.0,55.0,61.0,0.001537,27.9550,7.0,0.0,0.0,0.0,0.0,0.0,0.0
2022-04-19 23:57:00,31.602,29.624,40.532,0.5720,142.280,33.0,49.0,53.0,0.085030,27.9800,7.0,0.0,0.0,0.0,0.0,0.0,0.0
2022-04-19 23:58:00,31.558,29.766,40.058,0.4670,135.220,34.0,50.0,55.0,0.000000,28.0250,7.0,0.0,0.0,0.0,0.0,0.0,0.0
2022-04-19 23:59:00,31.514,29.908,39.584,0.3620,128.160,32.0,48.0,53.0,0.009219,28.0100,7.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
df_min.index = pd.to_datetime(df_min.index)

In [14]:
# Columns that are resampled using mean
mean_cols = [
    'PTemp_C_Max',
    'AirTC_Avg',
    'RH',
    'WS_ms_Avg',
    'TPM1',
    'TPM2.5',
    'TPM10',
    'GeffRef',
    'TempRef'
]
df_hourly = df_min.loc[:,mean_cols].resample('H').mean()
df_hourly

,PTemp_C_Max,AirTC_Avg,RH,WS_ms_Avg,TPM1,TPM2.5,TPM10,GeffRef,TempRef
DateTime,,,,,,,,,
2022-01-10 00:00:00,13.670000,13.795000,71.902500,0.112933,44.916667,64.791667,70.033333,0.006495,10.823375
2022-01-10 01:00:00,12.868333,13.155833,75.057167,0.433200,50.791667,74.925000,81.900000,0.006708,10.469500
2022-01-10 02:00:00,12.124333,11.745167,81.215333,1.485300,66.733333,100.466667,111.350000,0.006142,10.074750
2022-01-10 03:00:00,11.233167,11.026833,84.880000,1.604900,60.316667,90.125000,99.475000,0.008116,9.482000
2022-01-10 04:00:00,10.603333,10.617000,86.345000,1.674150,60.108333,93.383333,103.741667,0.009044,9.138333
...,...,...,...,...,...,...,...,...,...
2022-04-19 19:00:00,38.847000,37.026333,23.609167,0.032633,15.533333,23.616667,26.033333,0.183493,34.237000
2022-04-19 20:00:00,36.744833,35.075000,28.273500,0.142200,31.741667,46.975000,51.366667,0.025791,32.236417
2022-04-19 21:00:00,34.795000,33.594333,32.132667,0.420933,53.025000,80.208333,87.400000,0.029238,31.160583
2022-04-19 22:00:00,33.357333,32.813167,34.742667,0.103367,45.816667,68.966667,75.233333,0.023788,29.689833
2022-04-19 23:00:00,32.187167,31.423167,38.314833,0.223117,37.800000,57.016667,62.383333,0.027234,28.618833

In [15]:
sum_cols = [
    'FT_Voltage1',
    'FT_Voltage2',
    'DN_Voltage1',
    'DN_Voltage2'
]
df_hourly[sum_cols] = df_min.loc[:,sum_cols].resample('H').sum()
df_hourly

,PTemp_C_Max,AirTC_Avg,RH,WS_ms_Avg,TPM1,TPM2.5,TPM10,GeffRef,TempRef,FT_Voltage1,FT_Voltage2,DN_Voltage1,DN_Voltage2
DateTime,,,,,,,,,,,,,
2022-01-10 00:00:00,13.670000,13.795000,71.902500,0.112933,44.916667,64.791667,70.033333,0.006495,10.823375,0.0,0.0,0.00,0.00
2022-01-10 01:00:00,12.868333,13.155833,75.057167,0.433200,50.791667,74.925000,81.900000,0.006708,10.469500,0.0,0.0,0.00,0.00
2022-01-10 02:00:00,12.124333,11.745167,81.215333,1.485300,66.733333,100.466667,111.350000,0.006142,10.074750,0.0,0.0,0.00,0.00
2022-01-10 03:00:00,11.233167,11.026833,84.880000,1.604900,60.316667,90.125000,99.475000,0.008116,9.482000,0.0,0.0,0.00,0.00
2022-01-10 04:00:00,10.603333,10.617000,86.345000,1.674150,60.108333,93.383333,103.741667,0.009044,9.138333,0.0,0.0,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-04-19 19:00:00,38.847000,37.026333,23.609167,0.032633,15.533333,23.616667,26.033333,0.183493,34.237000,0.3,0.3,0.23,0.23
2022-04-19 20:00:00,36.744833,35.075000,28.273500,0.142200,31.741667,46.975000,51.366667,0.025791,32.236417,0.0,0.0,0.00,0.00
2022-04-19 21:00:00,34.795000,33.594333,32.132667,0.420933,53.025000,80.208333,87.400000,0.029238,31.160583,0.0,0.0,0.00,0.00
2022-04-19 22:00:00,33.357333,32.813167,34.742667,0.103367,45.816667,68.966667,75.233333,0.023788,29.689833,0.0,0.0,0.00,0.00
2022-04-19 23:00:00,32.187167,31.423167,38.314833,0.223117,37.800000,57.016667,62.383333,0.027234,28.618833,0.0,0.0,0.00,0.00

In [16]:
# Use the most frequent value of the columns ['Cycle', 'Rainfall', 'Daylight'] when resampling
df_hourly['Cycle'] = df_min['Cycle'].resample('H').agg(lambda x: x.value_counts().index[0])
df_hourly['Rainfall'] = df_min['Rainfall'].resample('H').agg(lambda x: x.value_counts().index[0])
df_hourly['Daylight'] = df_min['Daylight'].resample('H').agg(lambda x: x.value_counts().index[0])
df_hourly

,PTemp_C_Max,AirTC_Avg,RH,WS_ms_Avg,TPM1,TPM2.5,TPM10,GeffRef,TempRef,FT_Voltage1,FT_Voltage2,DN_Voltage1,DN_Voltage2,Cycle,Rainfall,Daylight
DateTime,,,,,,,,,,,,,,,,
2022-01-10 00:00:00,13.670000,13.795000,71.902500,0.112933,44.916667,64.791667,70.033333,0.006495,10.823375,0.0,0.0,0.00,0.00,3.0,0.0,0.0
2022-01-10 01:00:00,12.868333,13.155833,75.057167,0.433200,50.791667,74.925000,81.900000,0.006708,10.469500,0.0,0.0,0.00,0.00,3.0,0.0,0.0
2022-01-10 02:00:00,12.124333,11.745167,81.215333,1.485300,66.733333,100.466667,111.350000,0.006142,10.074750,0.0,0.0,0.00,0.00,3.0,0.0,0.0
2022-01-10 03:00:00,11.233167,11.026833,84.880000,1.604900,60.316667,90.125000,99.475000,0.008116,9.482000,0.0,0.0,0.00,0.00,3.0,0.0,0.0
2022-01-10 04:00:00,10.603333,10.617000,86.345000,1.674150,60.108333,93.383333,103.741667,0.009044,9.138333,0.0,0.0,0.00,0.00,3.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-04-19 19:00:00,38.847000,37.026333,23.609167,0.032633,15.533333,23.616667,26.033333,0.183493,34.237000,0.3,0.3,0.23,0.23,7.0,0.0,0.0
2022-04-19 20:00:00,36.744833,35.075000,28.273500,0.142200,31.741667,46.975000,51.366667,0.025791,32.236417,0.0,0.0,0.00,0.00,7.0,0.0,0.0
2022-04-19 21:00:00,34.795000,33.594333,32.132667,0.420933,53.025000,80.208333,87.400000,0.029238,31.160583,0.0,0.0,0.00,0.00,7.0,0.0,0.0
2022-04-19 22:00:00,33.357333,32.813167,34.742667,0.103367,45.816667,68.966667,75.233333,0.023788,29.689833,0.0,0.0,0.00,0.00,7.0,0.0,0.0
2022-04-19 23:00:00,32.187167,31.423167,38.314833,0.223117,37.800000,57.016667,62.383333,0.027234,28.618833,0.0,0.0,0.00,0.00,7.0,0.0,0.0

In [17]:
# Save hourly data
df_hourly.to_csv(r'../processed_data/Combined_Data_with_Voltages_Hourly.csv')

# Using PyCaret

In [26]:
df = df_hourly.copy()
df.drop(['Cycle', 'Rainfall'], axis=1, inplace=True)
voltage_cols = ['FT_Voltage1', 'FT_Voltage2', 'DN_Voltage1', 'DN_Voltage2']
target_col = 0
df.drop([x for x in voltage_cols if not x == voltage_cols[target_col]], axis=1, inplace=True)
pyc_r.setup(df, target=voltage_cols[target_col])
setup_df = pyc_r.pull()
best_model = pyc_r.compare_models()
compare_df = pyc_r.pull()

In [27]:
df = df_hourly.copy()
df.drop(['Cycle', 'Rainfall'], axis=1, inplace=True)
voltage_cols = ['FT_Voltage1', 'FT_Voltage2', 'DN_Voltage1', 'DN_Voltage2']
target_col = 1
df.drop([x for x in voltage_cols if not x == voltage_cols[target_col]], axis=1, inplace=True)
pyc_r.setup(df, target=voltage_cols[target_col])
setup_df = pyc_r.pull()
best_model = pyc_r.compare_models()
compare_df = pyc_r.pull()

In [28]:
df = df_hourly.copy()
df.drop(['Cycle', 'Rainfall'], axis=1, inplace=True)
voltage_cols = ['FT_Voltage1', 'FT_Voltage2', 'DN_Voltage1', 'DN_Voltage2']
target_col = 2
df.drop([x for x in voltage_cols if not x == voltage_cols[target_col]], axis=1, inplace=True)
pyc_r.setup(df, target=voltage_cols[target_col])
setup_df = pyc_r.pull()
best_model = pyc_r.compare_models()
compare_df = pyc_r.pull()

In [29]:
df = df_hourly.copy()
df.drop(['Cycle', 'Rainfall'], axis=1, inplace=True)
voltage_cols = ['FT_Voltage1', 'FT_Voltage2', 'DN_Voltage1', 'DN_Voltage2']
target_col = 3
df.drop([x for x in voltage_cols if not x == voltage_cols[target_col]], axis=1, inplace=True)
pyc_r.setup(df, target=voltage_cols[target_col])
setup_df = pyc_r.pull()
best_model = pyc_r.compare_models()
compare_df = pyc_r.pull()

In [30]:
df = df_min.copy()
df.drop(['Cycle', 'Rainfall'], axis=1, inplace=True)
voltage_cols = ['FT_Voltage1', 'FT_Voltage2', 'DN_Voltage1', 'DN_Voltage2']
target_col = 0
df.drop([x for x in voltage_cols if not x == voltage_cols[target_col]], axis=1, inplace=True)
pyc_r.setup(df, target=voltage_cols[target_col])
setup_df = pyc_r.pull()
best_model = pyc_r.compare_models()
compare_df = pyc_r.pull()

In [31]:
df = df_min.copy()
df.drop(['Cycle', 'Rainfall'], axis=1, inplace=True)
voltage_cols = ['FT_Voltage1', 'FT_Voltage2', 'DN_Voltage1', 'DN_Voltage2']
target_col = 1
df.drop([x for x in voltage_cols if not x == voltage_cols[target_col]], axis=1, inplace=True)
pyc_r.setup(df, target=voltage_cols[target_col])
setup_df = pyc_r.pull()
best_model = pyc_r.compare_models()
compare_df = pyc_r.pull()

In [32]:
df = df_min.copy()
df.drop(['Cycle', 'Rainfall'], axis=1, inplace=True)
voltage_cols = ['FT_Voltage1', 'FT_Voltage2', 'DN_Voltage1', 'DN_Voltage2']
target_col = 2
df.drop([x for x in voltage_cols if not x == voltage_cols[target_col]], axis=1, inplace=True)
pyc_r.setup(df, target=voltage_cols[target_col])
setup_df = pyc_r.pull()
best_model = pyc_r.compare_models()
compare_df = pyc_r.pull()

In [33]:
df = df_min.copy()
df.drop(['Cycle', 'Rainfall'], axis=1, inplace=True)
voltage_cols = ['FT_Voltage1', 'FT_Voltage2', 'DN_Voltage1', 'DN_Voltage2']
target_col = 3
df.drop([x for x in voltage_cols if not x == voltage_cols[target_col]], axis=1, inplace=True)
pyc_r.setup(df, target=voltage_cols[target_col])
setup_df = pyc_r.pull()
best_model = pyc_r.compare_models()
compare_df = pyc_r.pull()

# Considering both exogenous and endogenous variables

In [43]:
df_hourly = pd.read_csv(r'../processed_data/Combined_Data_with_Voltages_Hourly.csv', index_col=0)
df_hourly

,PTemp_C_Max,AirTC_Avg,RH,WS_ms_Avg,TPM1,TPM2.5,TPM10,GeffRef,TempRef,FT_Voltage1,FT_Voltage2,DN_Voltage1,DN_Voltage2,Cycle,Rainfall,Daylight
DateTime,,,,,,,,,,,,,,,,
2022-01-10 00:00:00,13.670000,13.795000,71.902500,0.112933,44.916667,64.791667,70.033333,0.006495,10.823375,0.0,0.0,0.00,0.00,3.0,0.0,0.0
2022-01-10 01:00:00,12.868333,13.155833,75.057167,0.433200,50.791667,74.925000,81.900000,0.006708,10.469500,0.0,0.0,0.00,0.00,3.0,0.0,0.0
2022-01-10 02:00:00,12.124333,11.745167,81.215333,1.485300,66.733333,100.466667,111.350000,0.006142,10.074750,0.0,0.0,0.00,0.00,3.0,0.0,0.0
2022-01-10 03:00:00,11.233167,11.026833,84.880000,1.604900,60.316667,90.125000,99.475000,0.008116,9.482000,0.0,0.0,0.00,0.00,3.0,0.0,0.0
2022-01-10 04:00:00,10.603333,10.617000,86.345000,1.674150,60.108333,93.383333,103.741667,0.009044,9.138333,0.0,0.0,0.00,0.00,3.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-04-19 19:00:00,38.847000,37.026333,23.609167,0.032633,15.533333,23.616667,26.033333,0.183493,34.237000,0.3,0.3,0.23,0.23,7.0,0.0,0.0
2022-04-19 20:00:00,36.744833,35.075000,28.273500,0.142200,31.741667,46.975000,51.366667,0.025791,32.236417,0.0,0.0,0.00,0.00,7.0,0.0,0.0
2022-04-19 21:00:00,34.795000,33.594333,32.132667,0.420933,53.025000,80.208333,87.400000,0.029238,31.160583,0.0,0.0,0.00,0.00,7.0,0.0,0.0
2022-04-19 22:00:00,33.357333,32.813167,34.742667,0.103367,45.816667,68.966667,75.233333,0.023788,29.689833,0.0,0.0,0.00,0.00,7.0,0.0,0.0
2022-04-19 23:00:00,32.187167,31.423167,38.314833,0.223117,37.800000,57.016667,62.383333,0.027234,28.618833,0.0,0.0,0.00,0.00,7.0,0.0,0.0

In [44]:
# Create Column FT_Voltage1_back_1h containing the values of FT_Voltage1 shifted by 1 hour (for all Voltage columns)
voltage_cols = ['FT_Voltage1', 'FT_Voltage2', 'DN_Voltage1', 'DN_Voltage2']
for i in range(1, 7):
    for col_name in voltage_cols:
        df_hourly[col_name + '_back_' + str(i) + 'h'] = df_hourly[col_name].shift(i)
df_hourly.columns

Index(['PTemp_C_Max', 'AirTC_Avg', 'RH', 'WS_ms_Avg', 'TPM1', 'TPM2.5',
       'TPM10', 'GeffRef', 'TempRef', 'FT_Voltage1', 'FT_Voltage2',
       'DN_Voltage1', 'DN_Voltage2', 'Cycle', 'Rainfall', 'Daylight',
       'FT_Voltage1_back_1h', 'FT_Voltage2_back_1h', 'DN_Voltage1_back_1h',
       'DN_Voltage2_back_1h', 'FT_Voltage1_back_2h', 'FT_Voltage2_back_2h',
       'DN_Voltage1_back_2h', 'DN_Voltage2_back_2h', 'FT_Voltage1_back_3h',
       'FT_Voltage2_back_3h', 'DN_Voltage1_back_3h', 'DN_Voltage2_back_3h',
       'FT_Voltage1_back_4h', 'FT_Voltage2_back_4h', 'DN_Voltage1_back_4h',
       'DN_Voltage2_back_4h', 'FT_Voltage1_back_5h', 'FT_Voltage2_back_5h',
       'DN_Voltage1_back_5h', 'DN_Voltage2_back_5h', 'FT_Voltage1_back_6h',
       'FT_Voltage2_back_6h', 'DN_Voltage1_back_6h', 'DN_Voltage2_back_6h'],
      dtype='object')

In [57]:
df = df_hourly.copy()
df.drop(['Cycle', 'Rainfall'], axis=1, inplace=True)
voltage_cols = ['FT_Voltage1', 'FT_Voltage2', 'DN_Voltage1', 'DN_Voltage2']
target_col = 0
for col_name in df.columns:
    if not (voltage_cols[target_col] in col_name) and ('Voltage' in col_name):
        df.drop(col_name, axis=1, inplace=True)
df.dropna(inplace=True)
pyc_r.setup(df, target=voltage_cols[target_col])
setup_df = pyc_r.pull()
best_model = pyc_r.compare_models()
compare_df = pyc_r.pull()

In [58]:
df = df_hourly.copy()
df.drop(['Cycle', 'Rainfall'], axis=1, inplace=True)
voltage_cols = ['FT_Voltage1', 'FT_Voltage2', 'DN_Voltage1', 'DN_Voltage2']
target_col = 1
for col_name in df.columns:
    if not (voltage_cols[target_col] in col_name) and ('Voltage' in col_name):
        df.drop(col_name, axis=1, inplace=True)
df.dropna(inplace=True)
pyc_r.setup(df, target=voltage_cols[target_col])
setup_df = pyc_r.pull()
best_model = pyc_r.compare_models()
compare_df = pyc_r.pull()

In [59]:
df = df_hourly.copy()
df.drop(['Cycle', 'Rainfall'], axis=1, inplace=True)
voltage_cols = ['FT_Voltage1', 'FT_Voltage2', 'DN_Voltage1', 'DN_Voltage2']
target_col = 2
for col_name in df.columns:
    if not (voltage_cols[target_col] in col_name) and ('Voltage' in col_name):
        df.drop(col_name, axis=1, inplace=True)
df.dropna(inplace=True)
pyc_r.setup(df, target=voltage_cols[target_col])
setup_df = pyc_r.pull()
best_model = pyc_r.compare_models()
compare_df = pyc_r.pull()

In [60]:
df = df_hourly.copy()
df.drop(['Cycle', 'Rainfall'], axis=1, inplace=True)
voltage_cols = ['FT_Voltage1', 'FT_Voltage2', 'DN_Voltage1', 'DN_Voltage2']
target_col = 3
for col_name in df.columns:
    if not (voltage_cols[target_col] in col_name) and ('Voltage' in col_name):
        df.drop(col_name, axis=1, inplace=True)
df.dropna(inplace=True)
pyc_r.setup(df, target=voltage_cols[target_col])
setup_df = pyc_r.pull()
best_model = pyc_r.compare_models()
compare_df = pyc_r.pull()

In [62]:
df_min = pd.read_csv(r'../processed_data/Combined_Data_with_Voltages.csv', index_col=0)
# Create Column FT_Voltage1_back_1min containing the values of FT_Voltage1 shifted by 1 min (for all Voltage columns)
voltage_cols = ['FT_Voltage1', 'FT_Voltage2', 'DN_Voltage1', 'DN_Voltage2']
num_hours = 1
for i in range(1, num_hours * 60 + 1):
    for col_name in voltage_cols:
        df_min[col_name + '_back_' + str(i) + 'min'] = df_min[col_name].shift(i)
df_min.columns

Index(['PTemp_C_Max', 'AirTC_Avg', 'RH', 'WS_ms_Avg', 'WindDir', 'TPM1',
       'TPM2.5', 'TPM10', 'GeffRef', 'TempRef',
       ...
       'DN_Voltage1_back_58min', 'DN_Voltage2_back_58min',
       'FT_Voltage1_back_59min', 'FT_Voltage2_back_59min',
       'DN_Voltage1_back_59min', 'DN_Voltage2_back_59min',
       'FT_Voltage1_back_60min', 'FT_Voltage2_back_60min',
       'DN_Voltage1_back_60min', 'DN_Voltage2_back_60min'],
      dtype='object', length=257)

In [63]:
df = df_min.copy()
df.drop(['Cycle', 'Rainfall'], axis=1, inplace=True)
voltage_cols = ['FT_Voltage1', 'FT_Voltage2', 'DN_Voltage1', 'DN_Voltage2']
target_col = 0
for col_name in df.columns:
    if not (voltage_cols[target_col] in col_name) and ('Voltage' in col_name):
        df.drop(col_name, axis=1, inplace=True)
df.dropna(inplace=True)
pyc_r.setup(df, target=voltage_cols[target_col])
setup_df = pyc_r.pull()
best_model = pyc_r.compare_models()
compare_df = pyc_r.pull()

In [64]:
df = df_min.copy()
df.drop(['Cycle', 'Rainfall'], axis=1, inplace=True)
voltage_cols = ['FT_Voltage1', 'FT_Voltage2', 'DN_Voltage1', 'DN_Voltage2']
target_col = 1
for col_name in df.columns:
    if not (voltage_cols[target_col] in col_name) and ('Voltage' in col_name):
        df.drop(col_name, axis=1, inplace=True)
df.dropna(inplace=True)
pyc_r.setup(df, target=voltage_cols[target_col])
setup_df = pyc_r.pull()
best_model = pyc_r.compare_models()
compare_df = pyc_r.pull()

In [65]:
df = df_min.copy()
df.drop(['Cycle', 'Rainfall'], axis=1, inplace=True)
voltage_cols = ['FT_Voltage1', 'FT_Voltage2', 'DN_Voltage1', 'DN_Voltage2']
target_col = 2
for col_name in df.columns:
    if not (voltage_cols[target_col] in col_name) and ('Voltage' in col_name):
        df.drop(col_name, axis=1, inplace=True)
df.dropna(inplace=True)
pyc_r.setup(df, target=voltage_cols[target_col])
setup_df = pyc_r.pull()
best_model = pyc_r.compare_models()
compare_df = pyc_r.pull()

In [66]:
df = df_min.copy()
df.drop(['Cycle', 'Rainfall'], axis=1, inplace=True)
voltage_cols = ['FT_Voltage1', 'FT_Voltage2', 'DN_Voltage1', 'DN_Voltage2']
target_col = 3
for col_name in df.columns:
    if not (voltage_cols[target_col] in col_name) and ('Voltage' in col_name):
        df.drop(col_name, axis=1, inplace=True)
df.dropna(inplace=True)
pyc_r.setup(df, target=voltage_cols[target_col])
setup_df = pyc_r.pull()
best_model = pyc_r.compare_models()
compare_df = pyc_r.pull()